.about-container {
  display: flex;
  flex-direction: column; 
  gap: 40px; 
  padding: 20px;
}

.about-text {
  text-align: center;
}

.team-section {
  display: block;
  text-align: center;
}
.highlight {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

