
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff; 
}
.header {
  background-size: cover;
  background-position: center;
  padding: 50px 20px;
  text-align: center;
}
.header-title {
  font-size: 48px;
  margin-bottom: 10px;
  color: #f4a261;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.icon {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}
.blog-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.blog-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.blog-card {
  padding-bottom: 20px;
  border-bottom: 2px solid #444;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: bold;
}

.blog-card h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.blog-date {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}
