.events-section {
  text-align: center;
  padding: 40px;
  background: black;
  color: white;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #f4a261;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.event-slider {
  margin-bottom: 50px;
}

.event-card {
  background: black no-repeat center center/cover;
  padding: 15px; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  margin: auto;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  text-align: center;
  border: 2px solid black; 
  overflow: hidden; 
  font-family: Georgia, 'Times New Roman', Times, serif;
   
}


.event-card:hover {
  transform: scale(1.05);
}


 .event-image {
  width: 50%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.event-title {
  font-size: 1.5rem;
  margin: 10px 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.event-date {
  font-size: 1rem;
  color: #f4a261;
}
.event-description {
  font-size: 1rem;
  color: #d1d1d1;
  text-align:center;
}

/* .past-events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
} */

/* .past-event-card {
  border: 2px solid #f4a261;
} */
/* .card-details {
display: grid;
grid-template-columns: auto auto;
} */

